---
- hosts: local
  tasks:
    - name: Scale Down Backend Green
      kubernetes.core.k8s:
        state: present
        definition:
          apiVersion: apps/v1
          kind: Deployment
          metadata:
            name: myapp-green
            namespace: backend
          spec:
            replicas: 0
        kubeconfig: ~/.kube/config
    - name: Scale Down Frontend Green
      kubernetes.core.k8s:
        state: present
        definition:
          apiVersion: apps/v1
          kind: Deployment
          metadata:
            name: frontend-green
            namespace: frontend
          spec:
            replicas: 0
        kubeconfig: ~/.kube/config